.container-fluid{
  padding-left: 0!important;
  padding-right: 0!important;
}

body{
  font-family: 'Lato', sans-serif;
}
h1{
  color: white;
  font-weight: 400;
  font-size: 10.0em;
  letter-spacing: 10px;
  text-shadow: 0px 2px 1px #000000;
}
h2{
  font-size: 5.0em;
  font-weight: 400;
  text-align: center;
}
h3{
  font-size: 3.0em;
  color: #EFC611;
  font-weight: 900;
  text-align: center;
}
h4{
  font-size: 1.5em;
  font-weight: 600;
}
a:link{
  .browse{
    color: white;
  }
  .termsLink{
    text-decoration: underline;
  }
  text-decoration: none;
}
.h2Underline{
 background-color: #EFC611;
 margin-top: -15px;
 height: 1.5px;
 border: none;
}
button:focus {outline:0;}

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
}

[type="checkbox"]{
  width: 25px;
  height: 25px;
}
[type="checkbox"] + label > span:before{
  margin-right: 10px;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  //vertical-align: -6px;
  border-radius: 7px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #000;
  margin-right: 0.75em;
  //transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: black;
  box-shadow: 0 0 0 2px #000;
}

@media only screen and (max-width: 800px) {
   h1 {
     font-size: 5em;
   }
   .landingHeaderUnderline{
     width: 500px !important;
   }
   .discoverHeadingUnderline{
     width: 500px !important;
   }
}
