.headerNav{
  margin-top: 60px;
}
.hamburger{
  background-color: transparent;
  border-color: transparent;
  margin-left: 100px;
}
.login{
  //text-align: right;
  font-weight: 300px;
  font-size: 2.0em;
  float: right;
}
.headerRightButton{
  color: white !important;
  background-color: transparent;
  border-color: transparent;
}
.loginButton{

  margin-right: 100px;
}
.signUpButton{
  margin-right: 10px;
}
